MissKaur/config.py
MissKaur/*.session
MissKaur/*.session-journal
MissKaur/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
MissKaur/modules/helper_funcs/temp.txt
MissKaur/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
MissKaur.session-journal
updates.txt
*.exe
